<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HospitalDietManagerApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <HospitalDietManagerApp.Properties.Settings>
            <setting name="dashboard_diet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dashboard_unit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dashboard_kategoria" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dashboard_date" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="dashboard_nazwa_sniadanie" serializeAs="String">
                <value />
            </setting>
            <setting name="dashboard_sklad_sniadanie" serializeAs="String">
                <value />
            </setting>
            <setting name="dashboard_nazwa_IIsniadanie" serializeAs="String">
                <value />
            </setting>
            <setting name="dashboard_sklad_IIsniadanie" serializeAs="String">
                <value />
            </setting>
            <setting name="dashboard_nazwa_obiad" serializeAs="String">
                <value />
            </setting>
            <setting name="dashboard_sklad_obiad" serializeAs="String">
                <value />
            </setting>
            <setting name="dashboard_nazwa_podwieczorek" serializeAs="String">
                <value />
            </setting>
            <setting name="dashboard_sklad_podwieczorek" serializeAs="String">
                <value />
            </setting>
            <setting name="dashboard_nazwa_kolacja" serializeAs="String">
                <value />
            </setting>
            <setting name="dashboard_sklad_kolacja" serializeAs="String">
                <value />
            </setting>
            <setting name="template_miasto" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="template_dekadowka" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="diet_dieta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="diet_miasto" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="product_produkt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="unit_miasto" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="recepie_nazwa" serializeAs="String">
                <value />
            </setting>
            <setting name="recepie_sklad" serializeAs="String">
                <value />
            </setting>
            <setting name="recepie_tab" serializeAs="String">
                <value>0</value>
            </setting>
        </HospitalDietManagerApp.Properties.Settings>
    </userSettings>
</configuration>